a{
  color: #655D8A;
}

body {
  text-align: center;
  margin: 0px;
  font-family: 'Merriweather', serif;
}

h1 {
  font-family: 'Marck Script', cursive;
  font-size: 5.625rem;
  margin-top: 75px;
  margin-bottom: 0px;
  color: #219F94;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #219F94;
  font-weight: normal;
}

h3 {
  font-family: 'Merriweather', serif;
  color: #146356;
}

.contact-me{
  margin-bottom: 75px;
}

.btn {
  background: #33b8a2;
  background-image: -webkit-linear-gradient(top, #33b8a2, #146356);
  background-image: -moz-linear-gradient(top, #33b8a2, #146356);
  background-image: -ms-linear-gradient(top, #33b8a2, #146356);
  background-image: -o-linear-gradient(top, #33b8a2, #146356);
  background-image: linear-gradient(to bottom, #33b8a2, #146356);
  -webkit-border-radius: 13;
  -moz-border-radius: 13;
  border-radius: 13px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #33b8a2;
  text-decoration: none;
}

.headshot{
  max-height: 150px;
  width: auto;
  border-radius: 50%;
}

hr{
  height: 0px;
  border-width: 5px 0px 0px 0px;
  border-style: dotted;
  width: 4%;
  border-color: #DED9C4;
}

.backcountry-photo{
  width: 25%;
  float: right;
  margin-left: 30px;
  border-radius: 50%;
}
  .profile{
    margin-bottom: 50px;
  }



.coding-gif{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.bottom-cloud {
  position: absolute;
  left: 410px;
}

.top-cloud {
  position: absolute;
  right: 410px;
  top: 50px
}

.skill-row{
  width: 50%;
  position: relative;
  margin: 50px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.top-container {
  background-color: #F2F5C8;
  margin: 0px;
  height: 100%;
  padding-top: 100px;
}

.middle-container {
}

.bottom-container {
  background-color: #219F94;
  margin: 0px;
  height: 125px;
  padding-top: 50px;
}
